<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<!-- basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- mobile metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<!-- site metas -->
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<title>Spring Security Example</title>
</head>

<body class="main-layout">
	<header>
		<div class="header"></div>
	</header>
	<section class="banner_main">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="titlepage">
						<span>About the Website </span>
						<h2>OAuth2.0 Login Demo</h2>
						<p>The Website implements OAuth2.0 by
							spring-boot-starter-security. You can log in to the Website with
							your github or @Line account.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="cont">
						<div class="titlepage">
							<p th:text="${ip}">IP Address></p>
							<p th:text="${ua}">User-Agent</p>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="cont">
						Click <a th:href="@{/login}">here</a> to login.<br>
						Click <a th:href="@{/register}">here</a> to create a new account.
					</div>
				</div>
			</div>
		</div>
	</section>


</body>
</html>